*{
    margin: 0;
    padding: 0;
}
.header {
    height: 20vh;
}
.navbar-style {
    height: 0vh;
}
.container-style{
    text-align: right;
    
}
.icon-bar {
    background: darkorange;
}
li a {
    font-family: Arial, Helvetica, sans-serif;
}
.row2{
    text-align: center;
}
.row3{
    text-align: center;
}